/* style.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fdf6e3;
    color: #333;
}

.navbar {
    background-color: #6b5b95;
    color: white;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 100px;
    border-radius: 5px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #6b5b95;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.book {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.book h3 {
    margin-top: 0;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #563d7c;
}

.button-container {
    text-align: center;
}

.email-button {
    display: inline-block;
    background-color: #6b5b95;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.email-button:hover {
    background-color: #563d7c;
    transform: scale(1.05);
}

.email-button:active {
    transform: scale(0.95);
}

.index-sayfasi {
    background-image: url('https://images.pexels.com/photos/69224/pexels-photo-69224.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
.hobi-kesfetmek-sayfasi {
    background-image: url('images/hobby.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
.kitap-okuma-sayfasi {
    background-image: url('https://images.pexels.com/photos/5490059/pexels-photo-5490059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
.resim-yapma {
    background-image: url('https://images.pexels.com/photos/7031624/pexels-photo-7031624.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
.doga-yuruyusu {
    background-image: url('https://images.pexels.com/photos/19153612/pexels-photo-19153612/free-photo-of-nigde-aladaglar-da-bir-kis-vakti.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
.kamp-hobisi {
    background-image: url('https://images.pexels.com/photos/1687845/pexels-photo-1687845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
.satranc-sayfasi {
    background-image: url('images/chess.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
.fotograf-cekim-hobisi {
    background-image: url('https://images.pexels.com/photos/212372/pexels-photo-212372.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
.iletisim-sayfasi {
    background-image: url('images/skydiving.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box {
    width: 30%;
    background-color: #f4f4f4;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.box img {
    width: 100%;
    height: 200px;
    display: block;
}

.box:hover {
    transform: scale(1.05);
}